<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org.//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.academy.mapper.CourseMapper">



	
<select id="getList" resultType="org.academy.domain.CourseVO">

	<![CDATA[
	SELECT CO.BRANCH_NAME, CO.COURSE_NAME, CL.CLASS_CODE,CL.CLASS_NAME, CL.TEACHER_NAME, CL.START_DATE, CL.END_DATE
	FROM COURSE CO
	INNER JOIN CLASS CL
	ON CO.COURSE_CODE = CL.COURSE_cODE
	ORDER BY CL.CLASS_CODE DESC
	]]>
</select>

<select id ="getPaging" resultType="org.academy.domain.CourseVO">
	
		select
			branch_name, COURSE_NAME, course_code,CLASS_CODE,CLASS_NAME, TEACHER_NAME, START_DATE, end_date
		from
			(
				select /*+INDEX_DESC (CLASS PK_CLASS ) */
					rownum rn, CO.BRANCH_NAME, CO.COURSE_NAME, CL.course_code,CL.CLASS_CODE,CL.CLASS_NAME, CL.TEACHER_NAME, CL.START_DATE, CL.END_DATE
				from
					Class CL
					INNER JOIN Course CO
					ON CL.COURSE_CODE = CO.COURSE_cODE
				where
	
	
				
				
	<![CDATA[			
					rownum <= #{pageNum} * #{amount}
					)
		where rn > (#{pageNum} -1) * #{amount} 
	]]>
</select>

<select id="getTotalCount" resultType="int">
	select count(*) from CLASS 
	where 
	
	CLASS_CODE > 0
</select>

<insert id="insertCourse">
	<selectKey keyProperty = "class_code" order="BEFORE" resultType="long">
		select seq_class.nextval from dual
	</selectKey>
	
	insert into class(class_code, branchcode, course_code, status, class_name, teacher_name, tuition, start_date, end_date, start_time, end_time, class_target, enter, updatedate)
	values(#{class_code}, #{branchcode}, #{course_code}, #{status}, #{class_name}, #{teacher_name}, #{tuition}, #{start_date}, #{end_date}, #{start_time}, #{end_time}, #{class_target}, sysdate, sysdate)

</insert>

</mapper>